.grid-item{
    display: grid;
    gap: 16px;
    padding: 16px;
}

.grid-item img{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-item button{
  background-color: #bcc681;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
