.collection-conatianer{
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.content-container {
    margin-bottom: 32px;
}
.content-container h1{
    font-size: 3rem;
    margin: 2 rem;
}
.content-container p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.collection-grid-container{
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.collection-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
    min-width: 200px;
}

  .grid-item {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
  }
  
  .collection-item img {
    /* object-fit: cover; */
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .grid-item h3 {
    margin: 12px 0;
  }
  
  .grid-item p {
    margin: 8px 0;
  }
  
  .grid-item button {
    background-color: #bcc681;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .grid-item button:hover {
    background-color: #a4ae5c;
  }
  