*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}    
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background:  */
    
  }
  .login{
    width: 450px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    height: 450px;
    border-radius: 20px;
    padding:30px 20px;
  }
  .login h1{
    font-size: 36px;
    text-align: center;
    color: grey;
  }
  .input-box input{
    width: 87%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(192, 186, 186, .5);
    border-radius: 40px;
    font-size: 16px;
    margin-top:70px;
    padding-left: 20px;

  }
  .input-box{
    padding-left: 30px;
    margin-top: 70px;
  }
  .input-box1{
    padding-left: 20px;
  }
  .input-box1 input{
    width: 86%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(192, 186, 186, .5);
    border-radius: 40px;
    font-size: 16px;
    margin: 10px;
    margin-top:20px;
    padding-left: 20px;

  }
  .input-box input::placeholder{
    color: gray;
  }
  .input-box1 input::placeholder{
    color: gray;
  }
.abc{
    /* justify-content: space-between; */
    text-align: center;
    /* margin-bottom: 50px; */
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
}
.line{
    width: 80%;
    height: 1px;
    margin-top: 20px;
    margin-left: 50px;
}
.btn{
    width: 85%;
    height: 40px;
    border: 2px solid rgb(192, 186, 186, .5);
    border-radius: 40px;
    border-color: gainsboro;
    margin: 20px;
    color: gray;
    /* padding-left: 20px; */

}
.btn1{
    width: 85%;
    height: 40px;
    border-radius: 40px;
    border: 2px solid rgb(192, 186, 186, .5);
    border-color: gainsboro;
    color: gray;
    
}
.submit{
    width: 250px;
    margin-top: 20px;
    height: 45px;
    background-color: azure;
    border: 2px solid rgb(192, 186, 186, .5);
    border-radius: 40px;
    margin-left: 20px;
    font-size: 19px;
    font-family: sans-serif;
    color: gray;
}
.register-link{
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    color: grey;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  