/* Mobile Styles */
body {
  font-size: 16px;
}

/* Tablet Styles */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
